/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,100,400italic);
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 74, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
Google Material Drop Shadows
*********************/
/**
 * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 *
 * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * the blur parameter has to be doubled.
 *
 * Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
 *
 * Example usage:
 *
 * .card {
 *     width: 95px;
 *     height: 95px;
 *     background: #f4f4f4;
 *     -webkit-transition: all 250ms;
 *     -moz-transition: all 250ms;
 *     transition: all 250ms;
 *     @include shadow(1);
 *     &:hover {
 *         @include shadow(3);
 *         -webkit-transform: translateY(-5px);
 *         -moz-transform: translateY(-5px);
 *         transform: translateY(-5px);
 *     }
 * }
 *
 * ---- Use @include shadow(1); for a shadow (1-5)
 * ---- the translateY(-5px); adds to the hover effect.
 *
 */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 35, ../scss/breakpoints/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 36, ../scss/breakpoints/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 37, ../scss/breakpoints/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 38, ../scss/breakpoints/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 83, ../scss/breakpoints/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 87, ../scss/breakpoints/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 92, ../scss/breakpoints/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 97, ../scss/breakpoints/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/* line 107, ../scss/breakpoints/_481up.scss */
.entry-content {
  width: 80%;
  margin: 0 auto;
}

/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/breakpoints/_768up.scss */
.wrap {
  width: 760px;
}

/*********************
HEADER STYLES
*********************/
/* line 36, ../scss/breakpoints/_768up.scss */
#logo {
  margin: 1.3em 0;
  float: left;
}

/* line 41, ../scss/breakpoints/_768up.scss */
.fixed-player {
  display: block;
  z-index: 100;
}

/* line 46, ../scss/breakpoints/_768up.scss */
.player-control {
  z-index: 10;
}

/* line 50, ../scss/breakpoints/_768up.scss */
.player-play, .player-pause {
  z-index: 100;
}

/* line 54, ../scss/breakpoints/_768up.scss */
#soundcloud-widget {
  width: 420px;
  height: 120px;
  display: none;
}

/* line 65, ../scss/breakpoints/_768up.scss */
.sticky-footer {
  width: 100%;
  height: 70px;
  bottom: 0;
  position: fixed;
  z-index: 150;
  _position: absolute;
  _top: expression(eval(document.documentElement.scrollTop+ (document.documentElement.clientHeight-this.offsetHeight)));
  background-color: #fff;
}

/* line 77, ../scss/breakpoints/_768up.scss */
.player_wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

/* line 85, ../scss/breakpoints/_768up.scss */
.player-item {
  width: 26.66%;
}

/* line 89, ../scss/breakpoints/_768up.scss */
.player-track {
  display: flex;
  align-items: center;
}

/* line 94, ../scss/breakpoints/_768up.scss */
.player-track_img {
  width: 70px;
  height: 70px;
  background-color: #ccc;
  background-image: url("http://timblin.co/drexel/wbdv243/wp-content/uploads/2016/06/TheHumanCondition.jpg");
  background-size: cover;
}

/* line 102, ../scss/breakpoints/_768up.scss */
.player-track_title {
  line-height: 1.3em;
  padding: 0 0 0 20px;
}
/* line 105, ../scss/breakpoints/_768up.scss */
.player-track_title h1 {
  font-size: 1.5em;
  overflow: hidden;
  line-height: 1em;
  margin: 0;
}
/* line 111, ../scss/breakpoints/_768up.scss */
.player-track_title h2 {
  font-size: .75em;
  color: #666;
  margin: 0;
}

/* line 118, ../scss/breakpoints/_768up.scss */
.player-control {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}
/* line 122, ../scss/breakpoints/_768up.scss */
.player-control .player-play, .player-control .player-pause {
  width: 50px;
  height: 50px;
  background-color: #424A60;
  border-radius: 50%;
}
/* line 127, ../scss/breakpoints/_768up.scss */
.player-control .player-play img, .player-control .player-pause img {
  height: 30px;
  width: 30px;
  margin: 10px;
}
/* line 133, ../scss/breakpoints/_768up.scss */
.player-control .player-play img {
  margin: 10px 10px 10px 12px;
}
/* line 135, ../scss/breakpoints/_768up.scss */
.player-control .control-hidden {
  display: none;
}
/* line 139, ../scss/breakpoints/_768up.scss */
.player-control .player-next {
  background-image: url("http://image.flaticon.com/icons/svg/148/148736.svg");
  background-repeat: no-repeat;
  width: 30px;
  margin: 10px 0;
}
/* line 145, ../scss/breakpoints/_768up.scss */
.player-control .player-prev {
  background-image: url("http://image.flaticon.com/icons/svg/148/148737.svg");
  background-repeat: no-repeat;
  width: 30px;
  margin: 10px 0;
}

/* line 153, ../scss/breakpoints/_768up.scss */
.player-progress {
  height: 5px;
  width: 0%;
  background-color: #F57F17;
  animation-name: progress;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-delay: 800ms;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/* line 166, ../scss/breakpoints/_768up.scss */
.progress-pause {
  animation-play-state: paused;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
/******************************************************************
Covers Page
******************************************************************/
/* line 185, ../scss/breakpoints/_768up.scss */
.Cover_wrap {
  display: flex;
  flex-wrap: wrap;
}

/* line 190, ../scss/breakpoints/_768up.scss */
.Cover-item {
  width: 48%;
  margin: 1%;
  transition: box-shadow 300ms;
}
/* line 195, ../scss/breakpoints/_768up.scss */
.Cover-item:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* line 200, ../scss/breakpoints/_768up.scss */
.Cover-post-img {
  height: auto;
}

/* line 204, ../scss/breakpoints/_768up.scss */
.Cover-links {
  height: 2em;
}
/* line 206, ../scss/breakpoints/_768up.scss */
.Cover-links h2 {
  width: 80%;
  overflow: hidden;
  margin: 0;
  padding: 5px;
  float: left;
  font-size: 1.5em;
  line-height: 2em;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 232, ../scss/breakpoints/_768up.scss */
.nav {
  float: right;
  column-count: 1;
  border: 0;
  margin-top: 2.7em;
  font-size: 1.3em;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 238, ../scss/breakpoints/_768up.scss */
.nav ul {
  background: #323944;
}
/* line 241, ../scss/breakpoints/_768up.scss */
.nav li {
  float: left;
  position: relative;
  margin: 0 15px;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 245, ../scss/breakpoints/_768up.scss */
.nav li a {
  color: #fff;
  font-weight: 700;
  font-size: 1em;
  text-shadow: none;
  padding: 12px 0px;
}
/* line 252, ../scss/breakpoints/_768up.scss */
.nav li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #f33a00;
  opacity: 0;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(10px);
  transform: translateY(0px);
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
/* line 267, ../scss/breakpoints/_768up.scss */
.nav li a:hover::after {
  opacity: 1;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(5px);
  transform: translateY(-5px);
}
/* line 280, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  visibility: hidden;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 289, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 291, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 308, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 318, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li ul,
.nav li ul.children li ul {
  top: 0;
  left: 100%;
}
/* line 333, ../scss/breakpoints/_768up.scss */
.nav li:hover > ul {
  top: auto;
  visibility: visible;
}
/* line 345, ../scss/breakpoints/_768up.scss */
.nav li.current-menu-item a::after,
.nav li.current_page_item a::after,
.nav li.current_page_ancestor a::after {
  opacity: 1;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(5px);
  transform: translateY(-5px);
}

/* end .nav */
/*********************
POSTS
*********************/
/* line 360, ../scss/breakpoints/_768up.scss */
#main {
  z-index: -1;
}

/* line 364, ../scss/breakpoints/_768up.scss */
.main {
  width: 100%;
  margin: 50px 0;
}

/* line 369, ../scss/breakpoints/_768up.scss */
.post-home {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* line 377, ../scss/breakpoints/_768up.scss */
.post-desc {
  width: 50%;
  padding: 0;
  right: 0;
  z-index: -1;
}

/* line 384, ../scss/breakpoints/_768up.scss */
.post-img {
  position: relative;
  width: 50%;
}

/* line 389, ../scss/breakpoints/_768up.scss */
.feat-img {
  z-index: -10;
  top: 17vh;
  left: 10%;
  position: fixed;
  opacity: 1;
  transition: opacity 200ms;
}
/* line 394, ../scss/breakpoints/_768up.scss */
.feat-img img {
  width: 35vw;
  height: auto;
  float: left;
}

/* line 402, ../scss/breakpoints/_768up.scss */
.feat-img_fixed {
  position: fixed;
}

/* line 406, ../scss/breakpoints/_768up.scss */
.feat-img-fade {
  opacity: 0;
  z-index: -10;
}

/* line 411, ../scss/breakpoints/_768up.scss */
.coverActive {
  z-index: 10;
}

/* line 416, ../scss/breakpoints/_768up.scss */
.fixed-imgPost img {
  position: fixed;
}

/* line 421, ../scss/breakpoints/_768up.scss */
.entry-content {
  width: 100%;
}

/*********************
SIDEBARS & ASIDES
*********************/
/* line 430, ../scss/breakpoints/_768up.scss */
.sidebar {
  margin-top: 2.2em;
}

/* line 434, ../scss/breakpoints/_768up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

/* line 439, ../scss/breakpoints/_768up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
/* line 444, ../scss/breakpoints/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 452, ../scss/breakpoints/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 559, ../scss/breakpoints/_768up.scss */
.album-link {
  justify-content: flex-start;
  vertical-align: middle;
}

/* line 566, ../scss/breakpoints/_768up.scss */
.footer-menu li {
  text-align: left;
}

/* line 571, ../scss/breakpoints/_768up.scss */
.inner-footer {
  width: 90%;
  margin: 0 auto;
}

/* line 576, ../scss/breakpoints/_768up.scss */
.footer-nav_wrap {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 0 auto;
}

/* line 583, ../scss/breakpoints/_768up.scss */
.fnav {
  width: 15%;
  height: 150px;
  position: relative;
  z-index: 10;
}

/* line 589, ../scss/breakpoints/_768up.scss */
.footer-links {
  float: none;
}
/* line 592, ../scss/breakpoints/_768up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/*********************
Artist Footer
*********************/
/* line 612, ../scss/breakpoints/_768up.scss */
.footer-artist {
  width: 100%;
  margin: 50px 0 150px 0;
}

/* line 617, ../scss/breakpoints/_768up.scss */
.artist-inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* line 625, ../scss/breakpoints/_768up.scss */
#artist-inner {
  width: 100%;
}

/* line 633, ../scss/breakpoints/_768up.scss */
.artist_desc {
  width: 40%;
}

/* line 637, ../scss/breakpoints/_768up.scss */
.artist_img {
  margin: 0;
}

/*********************
Mixtape Footer
*********************/
/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 12, ../scss/breakpoints/_1030up.scss */
.wrap {
  width: 1040px;
}

/******************************************************************
Covers Page
******************************************************************/
/* line 22, ../scss/breakpoints/_1030up.scss */
.Cover_wrap {
  display: flex;
  flex-wrap: wrap;
}

/* line 27, ../scss/breakpoints/_1030up.scss */
.Cover-item {
  width: 30%;
  margin: 1.66%;
}

/* line 32, ../scss/breakpoints/_1030up.scss */
.Cover-post-img {
  height: auto;
}

/* line 36, ../scss/breakpoints/_1030up.scss */
.Cover-links {
  height: 2em;
}
/* line 38, ../scss/breakpoints/_1030up.scss */
.Cover-links h2 {
  width: 80%;
  overflow: hidden;
  margin: 0;
  padding: 5px;
  float: left;
  font-size: 1.5em;
  line-height: 2em;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
